# Production Cloudflare Pages URL or custom domain
PORTAL_URL=https://odyssey-admin.pages.dev

# Secret key passed to Cloudflare WAF to hide/restrict web access
APP_SECRET_KEY=odyssey_desktop_admin_secure_key
